<h1>Reenviar instrucciones de confirmaci&oacute;n</h1>
<hr>
<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => "form-horizontal" }) do |f| %>

	<div class="form-group">
		<%= f.label :email, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= f.text_field :email, autofocus: true, :class=>"form-control" %>
		</div>
	</div>

	<div class="center"><%= f.submit "Reenviar instrucciones de confirmación", :class=>"btn btn-default" %></div>
<% end %>

<div class="center"><%= render "devise/shared/links" %></div>
