<h1>Ingreso</h1>
<hr>
<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>

	<div class="form-group">
		<%= f.label :email,"Email", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= f.text_field :email, autofocus: true, :class=>"form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :password,"Contraseña", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
		<div class="col-sm-3">
			<%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
		</div>
	</div>
    
<!-- No anda, no se porque
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
-->
  
  <div class="center"><%= f.submit "Ingresar", :class=>"btn btn-default" %></div>  
<% end %>

<div class="center">
	<%= render "devise/shared/links" %>
</div>
