<p id="notice"><%= notice %></p>

<p>
  <strong>Propiedad:</strong>
  <%= @tieneamenity.propiedad.direccion %>
</p>

<p>
  <strong>Amenity:</strong>
  <%= @tieneamenity.amenity.nombre %>
</p>

<%= link_to 'Edit', edit_tieneamenity_path(@tieneamenity) %> |
<%= link_to 'Back', tieneamenities_path %>
