<p id="notice"><%= notice %></p>

<p>
  <strong>Propiedad:</strong>
  <%= @tieneamenity.propiedad %>
</p>

<p>
  <strong>Amenity:</strong>
  <%= @tieneamenity.amenity %>
</p>

<%= link_to 'Edit', edit_tieneamenity_path(@tieneamenity) %> |
<%= link_to 'Back', tieneamenities_path %>
