<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @foto.nombre %>
</p>

<p>
  <strong>Propiedad:</strong>
  <%= @foto.propiedad.direccion %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
