<h2>Fotos</h2>
<% @propiedad.fotos.each do |foto| %>
<p>
	<%= image_tag foto.nombre if foto.nombre? %>
	<%= button_to 'Destroy', foto, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<%= form_for([@propiedad, @propiedad.fotos.build]) do |f| %>
<p>
	<%= f.label "agregar foto" %>
	<br>
	<%= f.file_field :nombre , :id => "archivo", :required => true %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>