<div id = "datosTarjeta">

<h2>Tarjeta</h2>
<hr>

<div class="field camposInline"">
	<span class="obligatorio">*</span>
	<%= f.label "Nombre Titular" %>
	<%= f.text_field :nombre_titular %>
</div>

<div class="field camposInline";">
	<span class="obligatorio">*</span>
	<%= f.label "Apellido Titular" %>
	<%= f.text_field :apellido_titular %>
</div>

<div class="field camposInline"">
	<span class="obligatorio">*</span>
	<%= f.label "Número de tarjeta" %>
	<%= f.text_field :numero_tarjeta %>
</div>

<div class="field camposInline"">
	<span class="obligatorio">*</span>
	<%= f.label "Código de seguridad" %>
	<%= f.text_field :codigo_seguridad %>
</div>

<div class="field camposInline"">
	<span class="obligatorio">*</span>
	<%= f.label "Vencimiento Tarjeta" %>
	<%= f.date_field :vencimiento_tarjeta %>
</div>

<div class="field camposInline"">
	<span class="obligatorio">&nbsp</span>
	<%= f.label "Importe" %>
	<span id = "importe"></span>
</div>

</div>