<script src="http://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("#propiedad_tipo_propiedad_id").change(function() {
			switch ($(this).val()) {
			case "1":
			//casa
			case "3":
			//ph
			case "6":
				//quinta
				$("#opc_antiguedad").show();
				$("#propiedad_ambientes").val('');
				$("#opc_ambientes").hide();
				$("#opc_dormitorios").show();
				break;
			case "2":
				$("#opc_antiguedad").show();
				$("#opc_ambientes").show();
				$("#propiedad_dormitorios").val('');
				$("#opc_dormitorios").hide();
				break;
			case "5":
			//terreno
			case "7":
			//campo
			case "8":
			//galpón
			case "13":
				//bóveda
				$("#propiedad_antiguedad").val('');
				$("#opc_antiguedad").hide();
				$("#propiedad_ambientes").val('');
				$("#opc_ambientes").hide();
				$("#propiedad_dormitorios").val('');
				$("#opc_dormitorios").hide();
				break;
			default:
				$("#opc_antiguedad").show();
				$("#propiedad_ambientes").val('');
				$("#opc_ambientes").hide();
				$("#propiedad_dormitorios").val('');
				$("#opc_dormitorios").hide();
			}
		});
	}); 
</script>
<script>
	$(document).ready(function() {
		$("#propiedad_operacion_id").change(function() {
			switch ($(this).val()) {
			case "1":
				//venta
				$("#opc_expensas").hide();
				break;
			default:
				$("#opc_expensas").show();
			}
		});
	}); 
</script>
<script>
	$(document).ready(function() {
		switch($("#propiedad_tipo_propiedad_id").val()) {
		case "1":
		//casa
		case "3":
		//ph
		case "6":
			//quinta
			$("#opc_antiguedad").show();
			$("#propiedad_ambientes").val('');
			$("#opc_ambientes").hide();
			$("#opc_dormitorios").show();
			break;
		case "2":
			$("#opc_antiguedad").show();
			$("#opc_ambientes").show();
			$("#propiedad_dormitorios").val('');
			$("#opc_dormitorios").hide();
			break;
		case "5":
		//terreno
		case "7":
		//campo
		case "8":
		//galpón
		case "13":
			//bóveda
			$("#propiedad_antiguedad").val('');
			$("#opc_antiguedad").hide();
			$("#propiedad_ambientes").val('');
			$("#opc_ambientes").hide();
			$("#propiedad_dormitorios").val('');
			$("#opc_dormitorios").hide();
			break;
		default:
			$("#opc_antiguedad").show();
			$("#propiedad_ambientes").val('');
			$("#opc_ambientes").hide();
			$("#propiedad_dormitorios").val('');
			$("#opc_dormitorios").hide();
		}
	}); 
</script>
<%= form_for(@propiedad) do |f| %>
<% if @propiedad.errors.any? %>
<div id="error_explanation">
	<h2>Se encontraron los siguientes errores:</h2>
	<ul>
		<% @propiedad.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<p class="obligatorio center">(*)Obligatorio</p>

<h2>Datos de operacion</h2>
<hr>
<div class="camposInline" >
	<span class="obligatorio">&nbsp</span>
	<%= f.label :tipo_propiedad_id %>
	<%= f.collection_select :tipo_propiedad_id, TipoPropiedad.all, :id,
    :nombre, :selected => @propiedad.tipo_propiedad_id %>
</div>
<div class="camposInline" >
	<span class="obligatorio">&nbsp</span>
	<%= f.label :operacion_id %>
	<%= f.collection_select :operacion_id, Operacion.all, :id, :tipo,
	:selected => @propiedad.operacion_id %>
</div>
<br>
<h2>Ubicación</h2>
<hr>
<div class="field camposInline">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :barrio_id %>
	<%= f.collection_select :barrio_id, Barrio.all, :id, :nombre, :selected => @propiedad.barrio_id %>
</div>
<div class="field camposInline">
	<span class="obligatorio">*</span>
	<%= f.label :direccion %>
	<%= f.text_field :direccion %>
</div>
<div class="field camposInline">
	<span class="obligatorio">*</span>
	<%= f.label :numero %>	
	<%= f.text_field :numero, :class=>"campoCorto" %>
</div>
<div class="field camposInline">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :piso %>
	<%= f.text_field :piso, :class=>"campoCorto" %>
</div>
<div class="field camposInline">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :departamento %>
	<%= f.text_field :departamento, :class=>"campoCorto" %>
</div>

<div class="field center">
<p>  
  <strong hidden="true" >Latitude:</strong>  
  <span id="latitude" hidden="true" ><%= @propiedad.latitude %> </span> 
</p>  
<p>  
  <strong hidden="true" >>Longitude:</strong>  
  <span id="longitude" hidden="true" ><%= @propiedad.longitude %> </span> 
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@propiedad.latitude}%2C#{@propiedad.longitude}",
 :id => "mapa" %>
</div> 

<div class="field">
<br>
<h2>Datos del inmueble</h2>
<hr>
</div>
<div class="field camposInline">
	<span class="obligatorio">*</span>
	<%= f.label :descripcion %>
	<%= f.text_area :descripcion %>
</div>
<div class="field camposInline" id="opc_antiguedad" style="display:none;">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :antiguedad %>
	<%= f.text_field :antiguedad %>
</div>
<div class="camposInline field">
	<span class="obligatorio">&nbsp</span>
	<%= f.label "Superficie cubierta"%>
	<%= f.text_field :superficie, :class=>"campoCorto" %>
</div>
<div class="field camposInline">
	<span class="obligatorio">&nbsp</span>
	<%= f.label "Superficie No Cubierta" %>
	<%= f.text_field :superficie_nc, :class=>"campoCorto" %>
</div>
<div class="field camposInline" id="opc_dormitorios" style="display:none;">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :dormitorios %>
	<%= f.text_field :dormitorios %>
</div>
<div class="field camposInline" id="opc_ambientes" style="display:none;">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :ambientes %>
	<%= f.text_field :ambientes %>
</div>
<div class="field center">
	<h2>Amenities</h2>
	<hr>	
	<% r1 = @amenities.find([1,2,3,4,5,6,7]) %>
	<% r2 = @amenities.find([8,9,10,11,12,13,14]) %>
	<% r3 = @amenities.find([15,16,17,18,19,20,21]) %>
	<table id="tablaAmenities">
		<tr>
			<% r1.each do |a| %>
			<td>
				<%= f.label a.nombre %>
			</td>
			<td>
				<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
				<%= check_box(:tieneamenities, a.nombre, checked: "checked") %>
				<% else  %>
				<%= check_box(:tieneamenities, a.nombre) %>
				<% end  %>
			</td>
			<% end  %>
		</tr>
		<tr>
			<% r2.each do |a| %>
			<td>
				<%= f.label a.nombre %>
			</td>
			<td>
				<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
				<%= check_box(:tieneamenities, a.nombre, checked: "checked") %>
				<% else  %>
				<%= check_box(:tieneamenities, a.nombre) %>
				<% end  %>
			</td>
			<% end  %>
		</tr>
		<tr>
			<% r3.each do |a| %>
			<td>
				<%= f.label a.nombre %>
			</td>
			<td>
				<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
				<%= check_box(:tieneamenities, a.nombre, checked: "checked") %>
				<% else  %>
				<%= check_box(:tieneamenities, a.nombre) %>
				<% end  %>
			</td>
			<% end  %>
		</tr>
	</table>
</div>

<br>
<h2>Precio</h2>
<hr>
<div class="field">
	<div class="camposInline">
		<span class="obligatorio">*</span>
		<%= f.label :precio %>
		<%= f.text_field :precio %>
	</div>
	<div class="camposInline">
		<span class="obligatorio">&nbsp</span>
		<%= f.label :moneda_id %>
		<%= f.collection_select :moneda_id, Moneda.all, :id, :nombre, :selected => @propiedad.moneda_id %>
	</div>
</div>

<div class="field camposInline" id="opc_expensas" style="display:none;">
	<span class="obligatorio">&nbsp</span>
	<%= f.label :expensas %>
	<%= f.text_field :expensas %>
</div>

<div class="field">
<%= f.hidden_field :user_id, :value => current_user.id %>
</div>

<div class="actions center">
	<%= f.submit %>
</div>
<% end %>
<script type="text/javascript">
	function myFunction() {
		window.location.reload(false);
	}
</script>
<script>
$(document).ready(function() {
	$('#propiedad_direccion').change(function() {
	//	<% @propiedad.geocode %>
	//	alert("<%= @propiedad.direccion %>");
	//	$('#latitude').text(<%= @propiedad.latitude %>);
	//	$('#longitude').text(<%= @propiedad.longitude %>);
	//	$('#mapa').attr("src","http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=<%=@propiedad.latitude%>%2C<%=@propiedad.longitude%>");
	//	alert("change!");
	//	$('#mapa').attr("src","http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=-34.6439%2C-58.5181");
	});
	
	<% if !@propiedad.latitude 	%>
	  $('#mapa').hide();
	<% end %>
});
</script>
