<script src="http://maps.googleapis.com/maps/api/js?sensor=TRUE"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("#propiedad_tipo_propiedad_id").change(function() {
			switch ($(this).val()) {
			case "1":
			//casa
			case "3":
			//ph
			case "6":
				//quinta
				$("#opc_antiguedad").show();
				$("#opc_ambientes").show();
				$("#opc_dormitorios").show();
				break;
			case "2":
				$("#opc_antiguedad").show();
				$("#opc_ambientes").show();
				$("#propiedad_dormitorios").val('');
				$("#opc_dormitorios").hide();
				break;
			case "5":
			//terreno
			case "7":
			//campo
			case "8":
			//galpón
			case "13":
				//bóveda
				$("#propiedad_antiguedad").val('');
				$("#opc_antiguedad").hide();
				$("#propiedad_ambientes").val('');
				$("#opc_ambientes").hide();
				$("#propiedad_dormitorios").val('');
				$("#opc_dormitorios").hide();
				break;
			default:
				$("#opc_antiguedad").show();
				$("#propiedad_ambientes").val('');
				$("#opc_ambientes").hide();
				$("#propiedad_dormitorios").val('');
				$("#opc_dormitorios").hide();
			}
		});
	}); 
</script>
<script>
	$(document).ready(function() {
		$("#propiedad_operacion_id").change(function() {
			switch ($(this).val()) {
			case "1":
				//venta
				$("#opc_expensas").hide();
				$("#propiedad_expensas").val('');
				break;
			default:
				$("#opc_expensas").show();
			}
		});
	}); 
</script>
<script>
    $(document).ready(function(){
        $('input[type="radio"]').click(function(){
            if($(this).attr("value")==2){
                $("#datosTarjeta").show();
                $("#importe").show();
				$("#importe").text("$<%= TipoPublicacion.find(2).importe %>.-");
            }
            if($(this).attr("value")==3){
                $("#datosTarjeta").show();
                $("#importe").show();
				$("#importe").text("$<%= TipoPublicacion.find(3).importe %>.-");
            }
            if($(this).attr("value")==1){
                $("#datosTarjeta").hide();
				$("#importe").hide();
            }
        });
    });
</script>
<script>
	$(document).ready(function() {
			switch ($("#propiedad_operacion_id").val()) {
			case "1":
				//venta
				$("#opc_expensas").hide();
				$("#propiedad_expensas").val('');
				break;
			default:
				$("#opc_expensas").show();
			}			
		}); 
</script>
<script>
	$(document).ready(function() {
		switch($("#propiedad_tipo_propiedad_id").val()) {
		case "1":
		//casa
		case "3":
		//ph
		case "6":
			//quinta
			$("#opc_antiguedad").show();
			$("#opc_ambientes").show();
			$("#opc_dormitorios").show();
			break;
		case "2":
			$("#opc_antiguedad").show();
			$("#opc_ambientes").show();
			$("#propiedad_dormitorios").val('');
			$("#opc_dormitorios").hide();
			break;
		case "5":
		//terreno
		case "7":
		//campo
		case "8":
		//galpón
		case "13":
			//bóveda
			$("#propiedad_antiguedad").val('');
			$("#opc_antiguedad").hide();
			$("#propiedad_ambientes").val('');
			$("#opc_ambientes").hide();
			$("#propiedad_dormitorios").val('');
			$("#opc_dormitorios").hide();
			break;
		default:
			$("#opc_antiguedad").show();
			$("#propiedad_ambientes").val('');
			$("#opc_ambientes").hide();
			$("#propiedad_dormitorios").val('');
			$("#opc_dormitorios").hide();
		}
	}); 	
</script>


<%= form_for @propiedad, :html => {:class => "form-horizontal"} do |f| %>
	<% if @propiedad.errors.any? %>
	<div id="error_explanation">
		<h2>Se encontraron los siguientes errores:</h2>
		<ul>
			<% @propiedad.errors.full_messages.each do |message| %>
			<li>
				<%= message %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="center">
		<p class="obligatorio center">(*)Obligatorio</p>
	</div>
	<h2>Tipo de publicaci&oacute;n</h2>
	<hr class="linea">
		<div class="form-group">
				<%#= f.label "Tipo de publicación", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-offset-4 col-sm-4">
				<% if params[:action] == "new" || params[:action] == "create" %>	
				  <%#= f.collection_select :tipo_publicacion_id, TipoPublicacion.all, :id,
			      :nombre, {:selected => @propiedad.tipo_publicacion_id}, {:class=>"form-control"} %>
			     <div class="radio">
				    <%=  f.radio_button :tipo_publicacion_id, 1, :checked => true %>
				    <%= f.label :tipo_publicacion_id, "Gratuita", :value => 1 %>
				    <span class="help-block">1 mes de duración, sin renovación. Se permite cargar hasta 3 fotos.</span>
				</div>
				<div class="radio">
				    <%=  f.radio_button :tipo_publicacion_id, 2 %>
				    <%= f.label :tipo_publicacion_id, "Básica", :value => 2 %>
				    <span class="help-block">3 meses de duración, renovables. Se permite cargar hasta 5 fotos y 1 video. Costo: $100. Renovación dentro del mes de vencimiento: $80 </span>
			    </div>
			    <div class="radio">
				    <%=  f.radio_button :tipo_publicacion_id, 3 %>
				    <%= f.label :tipo_publicacion_id, "Premium", :value => 3 %>
				    <span class="help-block">12 meses de duración, renovables. Se permite cargar hasta 10 fotos y 3 videos. Costo: $300. Renovación dentro del mes de vencimiento: $200 </span>
			    </div>       
			    <% else %>      
			      <%= f.text_field :tipo_publicacion_id, :value => @propiedad.tipo_publicacion.nombre, :disabled => true, :class=>"form-control" %>        
			    <% end %> 
			</div>
		</div>
	<h2>Datos de operaci&oacute;n</h2>
	<hr class="linea">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2 control-label">
				<%= f.label "Fecha de publicación" %>
				<span style="color: red">*</span>
			</div>
			<div class="col-sm-3">
				<% if params[:action] == "new" || params[:action] == "create" %>	
				  <%= date_field :propiedad, :fecha_publicacion, :min => Date.today, :value => Date.today, :class=>"form-control" %>
				<% else %>
				  <%= date_field :propiedad, :fecha_publicacion, :disabled =>true, :class=>"form-control" %>
				<% end %>
			</div>
		</div>
	
	
		<div class="form-group">
			<%= f.label :tipo_propiedad_id,"Tipo de propiedad", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.collection_select :tipo_propiedad_id, TipoPropiedad.all, :id,
					:nombre, {:selected => @propiedad.tipo_propiedad_id}, {:class=>"form-control"} %>
			</div>
		</div>
		<div class="form-group" >
			<%= f.label :operacion_id,"Operación", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.collection_select :operacion_id, Operacion.all, :id, :tipo, 
					{:selected => @propiedad.operacion_id}, {:class=>"form-control"} %>
			</div>
		</div>
	<br>
	<h2>Ubicación</h2>
	<hr class="linea">
		<div class="form-group">
			<%= f.label :barrio_id, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.collection_select :barrio_id, Barrio.all, :id, :nombre, {:selected => @propiedad.barrio_id}, {:class=>"form-control"} %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2 control-label">
				<%= f.label :direccion,"Dirección" %>
				<span style="color: red">*</span>
			</div>
			<div class="col-sm-3">
				<%= f.text_field :direccion, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2 control-label">
				<%= f.label :numero, "Número" %>
				<span style="color: red">*</span>
			</div>
			<div class="col-sm-3">
				<%= f.text_field :numero, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :piso, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :piso, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :departamento, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :departamento, :class=>"form-control" %>
			</div>
		</div>
	
		<div class="field center">
		<p>  
		  <strong hidden="true" >Latitude:</strong>  
		  <span id="latitude" hidden="true" ><%= @propiedad.latitude %> </span> 
		</p>  
		<p>  
		  <strong hidden="true" >>Longitude:</strong>  
		  <span id="longitude" hidden="true" ><%= @propiedad.longitude %> </span> 
		</p>
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@propiedad.latitude}%2C#{@propiedad.longitude}",
		 :id => "mapa" %>
		</div> 
	
	<h2>Datos del inmueble</h2>
	<hr class="linea">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2 control-label">
				<%= f.label :descripcion,"Descripción" %>
				<span style="color: red">*</span>
			</div>
			<div class="col-sm-3">
				<%= f.text_area :descripcion, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group" id="opc_antiguedad" style="display:none;">
			<%= f.label :antiguedad,"Antigüedad", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :antiguedad, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label "Superficie cubierta", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :superficie, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label "Superficie No Cubierta", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :superficie_nc, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group" id="opc_dormitorios" style="display:none;">
			<%= f.label :dormitorios, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :dormitorios, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group" id="opc_ambientes" style="display:none;">
			<%= f.label :ambientes, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :ambientes, :class=>"form-control" %>
			</div>
		</div>

		<h2>Amenities</h2>
		<hr class="linea">	
		<% r1 = @amenities[0..3] %>
		<% r2 = @amenities[4..7] %>
		<% r3 = @amenities[8..11] %>
		<% r4 = @amenities[12..15] %>
		<% r5 = @amenities[16..19] %>
		<% r6 = @amenities[20..20] %>

		<table id="tablaAmenities">
			<tr>
				<% r1.each do |a| %>
				<td>
					<%= f.label a.nombre %>
				</td>
				<td>
					<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
					<%= check_box(:tieneamenities, a.nombre,  {style: 'margin:0 4px 0 4px'} ,checked: "checked") %>
					<% else  %>
					<%= check_box(:tieneamenities, a.nombre,  {style: 'margin:0 4px 0 4px'} ) %>
					<% end  %>
				</td>
				<% end  %>
			</tr>
			<tr>
				<% r2.each do |a| %>
				<td>
					<%= f.label a.nombre %>
				</td>
				<td>
					<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'} , checked: "checked") %>
					<% else  %>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'} ) %>
					<% end  %>
				</td>
				<% end  %>
			</tr>
			<tr>
				<% r3.each do |a| %>
				<td>
					<%= f.label a.nombre %>
				</td>
				<td>
					<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'}, checked: "checked" ) %>
					<% else  %>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'} ) %>
					<% end  %>
				</td>
				<% end  %>
			</tr>
			<tr>
				<% r4.each do |a| %>
				<td>
					<%= f.label a.nombre %>
				</td>
				<td>
					<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'}, checked: "checked" ) %>
					<% else  %>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'} ) %>
					<% end  %>
				</td>
				<% end  %>
			</tr>
			<tr>
				<% r5.each do |a| %>
				<td>
					<%= f.label a.nombre %>
				</td>
				<td>
					<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'}, checked: "checked") %>
					<% else  %>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'}) %>
					<% end  %>
				</td>
				<% end  %>
			</tr>
			<tr>
				<% r6.each do |a| %>
				<td>
					<%= f.label a.nombre %>
				</td>
				<td>
					<% if @propiedad.amenities.find_by_nombre(a.nombre)%>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'}, checked: "checked") %>
					<% else  %>
					<%= check_box(:tieneamenities, a.nombre,{style: 'margin:0 4px 0 4px'}) %>
					<% end  %>
				</td>
				<% end  %>
			</tr>
		</table>
	
		<br>

	<h2>Precio</h2>
	<hr class="linea">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2 control-label">
				<%= f.label :precio %>
				<span style="color: red">*</span>
			</div>
			<div class="col-sm-3">
				<%= f.text_field :precio, :class=>"form-control" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :moneda_id, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.collection_select :moneda_id, Moneda.all, :id, :nombre, {:selected => @propiedad.moneda_id}, {:class=>"form-control"} %>
			</div>
		</div>
	
		<div class="form-group" id="opc_expensas" style="display:none;">
			<%= f.label :expensas, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
			<div class="col-sm-3">
				<%= f.text_field :expensas, :class=>"form-control" %>
			</div>
		</div>
		
	<br>

	<%= render :partial => "formTarjeta", :locals => { :f => f } %>
	<br>
		
	<div class="field">
	<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>

	<div class="form-group center">
		<%= f.submit class: "btn btn-default" %>
	</div>
	<% end %>
<script type="text/javascript">
	function myFunction() {
		window.location.reload(false);
	}
</script>
<script>
$(document).ready(function() {
	
	<% if params[:action] == "new"	|| params[:action] == "create" %>
	  $('#mapa').hide();
	<% end %>
	
 	<% if params[:action] != "new"	&& params[:action] != "create" %>
	  $('#datosTarjeta').hide();
	<% end %>	
	
	<% if !@propiedad.latitude 	%>
	  $('#mapa').hide();
	<% end %>	
});
</script>
<script>
	$(document).ready(function() {
		$("#propiedad_tipo_publicacion_id").change(function() {
			switch ($(this).val()) {
			case "1":
				//gratuita
				$("#datosTarjeta").hide();		    
				break;
			default:
				$("#datosTarjeta").show();
			}
		});
	}); 
</script>
<script>
	$(document).ready(function() {
 		switch ($("#propiedad_tipo_publicacion_id").val()) {
		case "1":
			//gratuita
			$("#datosTarjeta").hide();		    
			break;
		default:
			$("#datosTarjeta").show();
		}
	}); 
</script>