<%= form_for(@propiedad) do |f| %>
<% if @propiedad.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

	<ul>
		<% @propiedad.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=true&zoom=16&markers=#{@propiedad.latitude}%2C#{@propiedad.longitude}", :id => "mapa" %>
<div class="field">
	<%= f.label :direccion %>
	<br>
	<%= f.text_field :direccion %>
</div>
<div class="field">
	<%= f.label :numero %>
	<%= f.text_field :numero %>

	<%= f.label :piso %>
	<%= f.text_field :piso %>

	<%= f.label :departamento %>
	<%= f.text_field :departamento %>
</div>
<div class="field">
<p>  
  <strong>Latitude:</strong>  
  <%= @propiedad.latitude %>  
</p>  
<p>  
  <strong>Longitude:</strong>  
  <%= @propiedad.longitude %>  
</p>
</div> 
<div class="field">
	<%= f.label :descripcion %>
	<br>
	<%= f.text_area :descripcion %>
</div>
<div class="field">
	<%= f.label :antiguedad %>
	<br>
	<%= f.text_field :antiguedad %>
</div>
<div class="field">
	<%= f.label :operacion_id %>
	<br>
	<%= f.collection_select :operacion_id, Operacion.all, :id, :tipo, :selected => @propiedad.operacion_id %>
</div>
<div class="field">
	<%= f.label :precio %>
	<br>
	<%= f.text_field :precio %>
</div>
<div class="field">
	<%= f.label :moneda_id %>
	<br>
	<%= f.collection_select :moneda_id, Moneda.all, :id, :nombre, :selected => @propiedad.moneda_id %>
</div>
<div class="field">
	<%= f.label :superficie %>
	<br>
	<%= f.text_field :superficie %>
</div>
<div class="field">
	<%= f.label :ambientes %>
	<br>
	<%= f.text_field :ambientes %>
</div>
<div class="field">
	<%= f.label :dormitorios %>
	<br>
	<%= f.text_field :dormitorios %>
</div>
<div class="field">
	<%= f.label :expensas %>
	<br>
	<%= f.text_field :expensas %>
</div>
<div class="field">
	<%= f.label :barrio_id %>
	<br>
	<%= f.collection_select :barrio_id, Barrio.all, :id, :nombre, :selected => @propiedad.barrio_id %>
</div>
<div class="field">
	<%= f.label :tipo_propiedad_id %>
	<br>
	<%= f.collection_select :tipo_propiedad_id, TipoPropiedad.all, :id, :nombre, :selected => @propiedad.tipo_propiedad_id %>
</div>

<!-- <div class="field">
<label>Foto</label>
<%= f.file_field :foto%>
</div> -->

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
