		<tr>
			<td><%= @propiedad.direccion %></td>
			<td><%= @propiedad.numero %></td>
			<td><%= @propiedad.piso %></td>
			<td><%= @propiedad.departamento %></td>
			<td><%= @propiedad.operacion.tipo %></td>

			<td> <% @propiedad.amenities.each do |a| %>
			<%= a.nombre %>
			<% if a != @propiedad.amenities.last %>
			<%= ", " %>
			<% end %>
			<% end %> </td>

			<td><%= @propiedad.precio %></td>
			<td><%= @propiedad.moneda.nombre %></td>
			<td><%= @propiedad.superficie %></td>
			<td><%= @propiedad.superficie_nc %></td>
			<td><%= @propiedad.barrio.nombre %></td>
			<td><%= @propiedad.tipo_propiedad.nombre %></td>

			<td> <% @propiedad.fotos.each do |foto| %>
			<%= image_tag foto.nombre_url(:thumb) if foto.nombre? %>
			<% end %> </td>
			
			<td class="nombreUsuario" ><%= @propiedad.user.nombre %></td>
			
			<td><%= @propiedad.tipo_publicacion.nombre %></td>
			
			<% if @propiedad.fecha_publicacion? %>
			  <td><%= @propiedad.fecha_publicacion.strftime("%d/%m/%y") %></td>
			<% else %>
			  <td> - </td>
			<% end %>
			
			<% if @propiedad.fecha_finalizacion? %>
			  <td><%= @propiedad.fecha_finalizacion.strftime("%d/%m/%y") %></td>
		    <% else %>
			  <td> - </td>
			<% end %>
			
			<td><%= @propiedad.estado.nombre %></td>

			<td><%= link_to 'Ver', @propiedad %></td>
			<td><%= link_to 'Editar', edit_propiedad_path(@propiedad) %></td>
			<td><%= link_to 'Eliminar', @propiedad, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
			
			<% if user_signed_in? %>
			  <% if @propiedad.estado_id == 1 %>
			    <td class="btn inline"><%= link_to 'Pausar', pausar_path(id: @propiedad.id) %> </td>
			  <% end %>
			
			  <% if @propiedad.estado_id == 2 %>
			    <td class="btn inline"><%= link_to 'Reanudar', reanudar_path(id: @propiedad.id) %> </td>
			  <% end %>
			
			  <% if @propiedad.estado_id != 3 %>
			    <td class="btn"><%= link_to 'Finalizar', finalizar_path(id: @propiedad.id) %> </td>
			  <% end %>
			<% end %>
		</tr>