<h1>Republicando propiedad</h1>
	
<%= form_for @propiedad, :html => {:class => "form-horizontal"} do |f| %>
<% if @propiedad.errors.any? %>
<div id="error_explanation">
	<h2>Se encontraron los siguientes errores:</h2>
	<ul>
		<% @propiedad.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<h2>Tipo de publicaci&oacute;n</h2>
<hr>

<div class="form-group">
	<div class="col-sm-offset-4 col-sm-4">
		<% if @propiedad.tipo_publicacion_id == 3 %>		
	      <div class="radio">
			    <%=  f.radio_button :tipo_publicacion_id, 3 %>
			    <%= f.label :tipo_publicacion_id, "Premium", :value => 3 %>
			    <span class="help-block">12 meses de duración, renovables. Se permiten cargar hasta 10 fotos y 3 videos. Costo: $300. Renovación antes del mes de finalizada: $200 </span>
		    </div>
	      	<%= f.hidden_field :tipo_publicacion_id, :value => @propiedad.tipo_publicacion_id %>
	    <% else %>
			<div class="radio">
			    <%=  f.radio_button :tipo_publicacion_id, 2, :checked=>true %>
			    <%= f.label :tipo_publicacion_id, "Básica", :value => 2 %>
			    <span class="help-block">3 meses de duración, renovables. Se permiten cargar hasta 5 fotos y 1 video. Costo: $100. Renovación antes del mes de finalizada: $80 </span>
		    </div>
		    <div class="radio">
			    <%=  f.radio_button :tipo_publicacion_id, 3 %>
			    <%= f.label :tipo_publicacion_id, "Premium", :value => 3 %>
			    <span class="help-block">12 meses de duración, renovables. Se permiten cargar hasta 10 fotos y 3 videos. Costo: $300. Renovación antes del mes de finalizada: $200 </span>
		    </div>
	    <% end %>
	</div>
</div>

<h2>Datos de operaci&oacute;n</h2>
<hr>	
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-2 control-label">
		<%= f.label "Fecha de publicación" %>		
		<span style="color: red">*</span>
	</div>
	<div class="col-sm-3">
		<%= date_field :propiedad, :fecha_publicacion, :min => Date.today, :value => Date.today, :class=>"form-control" %>
	</div>
</div>

<br>
<h2>Ubicación</h2>
<hr>
<div class="form-group">
	<%= f.label :barrio_id, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.text_field :barrio_id, :value => @propiedad.barrio.nombre, :disabled => true, :class=>"form-control" %> 
	</div>
</div>
<div class="form-group">
	<%= f.label :direccion,"Dirección", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.text_field :direccion, :disabled => true, :class=>"form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :numero, "Número", :class=>"col-sm-offset-3 col-sm-2 control-label" %>
	<div class="col-sm-3">	
		<%= f.text_field :numero, :disabled => true, :class=>"form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :piso, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.text_field :piso, :disabled => true, :class=>"form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :departamento, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.text_field :departamento, :disabled => true, :class=>"form-control" %>
	</div>
</div>

<br>
<h2>Precio</h2>
<hr>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-2 control-label">
		<%= f.label :precio %>		
		<span style="color: red">*</span>
	</div>
	<div class="col-sm-3">
		<%= f.text_field :precio, :class=>"form-control" %>
	</div>
</div>
<div class="form-group">
	<%= f.label :moneda_id, :class=>"col-sm-offset-3 col-sm-2 control-label" %>
	<div class="col-sm-3">
		<%= f.collection_select :moneda_id, Moneda.all, :id, :nombre, {:selected => @propiedad.moneda_id}, {:class=>"form-control"} %>
	</div>
</div>


<br>
<%= render :partial => "formTarjeta", :locals => { :f => f } %>
<br>
	
<div class="field">
<%= f.hidden_field :user_id, :value => current_user.id %>
</div>

<div class="actions center">
	<%= f.submit "Republicar propiedad", :class=>"btn btn-default" %>
</div>
<% end %>

<div class="center">
	<p><%= link_to 'Ver publicación', @propiedad, class: "btn" %></p>
	<%= link_to 'Volver', propiedads_path, class: "btn" %>
</div>

<script>
    $(document).ready(function(){
        $('input[type="radio"]').click(function(){
            if($(this).attr("value")==2){
                if (<%= @enPromo %>) {
					$("#importe").text("$<%= TipoPublicacion.find(2).importePromo %>.-");
					$("#descuento").text("(¡$20 de descuento!)");
				}
				else {
					$("#importe").text("$<%= TipoPublicacion.find(2).importe %>.-");	
				}
				$("#datosTarjeta").show();
                $("#importe").show();
            }
            if($(this).attr("value")==3){
                if (<%= @enPromo %>) {
					$("#importe").text("$<%= TipoPublicacion.find(3).importePromo %>.-");
					$("#descuento").text("(¡$100 de descuento!)");
				}
				else {
					$("#importe").text("$<%= TipoPublicacion.find(3).importe %>.-");	
				}
				$("#datosTarjeta").show();
                $("#importe").show();
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        if($('input[type="radio"]').attr("value")==2){
            if (<%= @enPromo %>) {
				$("#importe").text("$<%= TipoPublicacion.find(2).importePromo %>.-");
				$("#descuento").text("(¡$20 de descuento!)");
			}
			else {
				$("#importe").text("$<%= TipoPublicacion.find(2).importe %>.-");	
			}
			$("#datosTarjeta").show();
            $("#importe").show();
        }
        if($('input[type="radio"]').attr("value")==3){
            if (<%= @enPromo %>) {
				$("#importe").text("$<%= TipoPublicacion.find(3).importePromo %>.-");
				$("#descuento").text("(¡$100 de descuento!)");
			}
			else {
				$("#importe").text("$<%= TipoPublicacion.find(3).importe %>.-");	
			}
			$("#datosTarjeta").show();
            $("#importe").show();
        }
    });
</script>