<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Direccion:</strong>
	<%= @propiedad.direccion %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@propiedad.latitude}%2C#{@propiedad.longitude}", :id => "mapa" %>
<p>
	<strong>Numero:</strong>
	<%= @propiedad.numero %>
	<strong>Piso:</strong>
	<%= @propiedad.piso %>
	<strong>Departamento:</strong>
	<%= @propiedad.departamento %>
</p>

<p>
	<strong>Descripcion:</strong>
	<%= @propiedad.descripcion %>
</p>

<p>
	<strong>Antiguedad:</strong>
	<%= @propiedad.antiguedad %>
</p>

<p>
	<strong>Operacion:</strong>
	<%= @propiedad.operacion.tipo %>
</p>

<p>
	<strong>Precio:</strong>
	<%= @propiedad.precio %>
</p>

<p>
	<strong>Moneda:</strong>
	<%= @propiedad.moneda.nombre %>
</p>

<p>
	<strong>Superficie:</strong>
	<%= @propiedad.superficie %>
</p>

<p>
	<strong>Ambientes:</strong>
	<%= @propiedad.ambientes %>
</p>

<p>
	<strong>Dormitorios:</strong>
	<%= @propiedad.dormitorios %>
</p>

<p>
	<strong>Expensas:</strong>
	<%= @propiedad.expensas %>
</p>

<p>
	<strong>Barrio:</strong>
	<%= @propiedad.barrio.nombre %>
</p>

<p>
	<strong>Tipo:</strong>
	<%= @propiedad.tipo_propiedad.nombre %>
</p>

<p>
	<%= image_tag @propiedad.foto if @propiedad.foto? %>
</p>

<%= render 'formFotos' %>

<span class="btn"><%= link_to 'Edit', edit_propiedad_path(@propiedad) %></span>
<span class="btn"><%= link_to 'Back', propiedads_path %></span>
