<h2>Datos de operación</h2>
<hr>

<p class="center">
	<strong>Tipo de publicación:</strong>
	<%= @propiedad.tipo_publicacion.nombre %>
</p>
<p class="center">
	<strong>Fecha publicación:</strong>
	<%= @propiedad.fecha_publicacion.strftime("%d/%m/%y") %>
</p>

<p class="center">
	<strong>Tipo:</strong>
	<%= @propiedad.tipo_propiedad.nombre %>
</p>

<p class="center">
	<strong>Operacion:</strong>
	<%= @propiedad.operacion.tipo %>
</p>

<br>
<h2>Ubicación</h2>
<hr>
<p class="center">
	<strong>Barrio:</strong>
	<%= @propiedad.barrio.nombre %>
</p>

<p class="center">
	<strong>Calle:</strong>
	<%= @propiedad.direccion %>
</p>

<p>
<p class="center">
	<strong>Numero:</strong>
	<%= @propiedad.numero %>
	<strong>Piso:</strong>
	<%= @propiedad.piso %>
	<strong>Departamento:</strong>
	<%= @propiedad.departamento %>
</p>
<p class="center">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@propiedad.latitude}%2C#{@propiedad.longitude}",
 :id => "mapa" %>
</p>
<br>
<h2>Datos del inmueble</h2>
<hr>
<p class="center">
	<strong>Descripcion:</strong>
	<%= @propiedad.descripcion %>
</p>

<p class="center">
	<strong>Antiguedad:</strong>
	<%= @propiedad.antiguedad %> años
</p>

<p class="center">
	<strong>Superficie:</strong>
	<%= @propiedad.superficie %> m2
</p>

<p class="center">
	<strong>Superficie no cubierta:</strong>
	<%= @propiedad.superficie_nc %> m2
</p>

<p class="center">
	<strong>Ambientes:</strong>
	<%= @propiedad.ambientes %>
</p>

<p class="center">
	<strong>Dormitorios:</strong>
	<%= @propiedad.dormitorios %>
</p>

<p class="center">
	<strong>Amenities:</strong>
	<% @propiedad.amenities.each do |a| %>
	<%= a.nombre %>
	<% if a != @propiedad.amenities.last %>
	<%= ", " %>
	<% end %>
	<% end %>
</p>

<p class="center">
	<strong>Moneda:</strong>
	<%= @propiedad.moneda.nombre %>
</p>

<p class="center">
	<strong>Precio:</strong>
	<%= @propiedad.precio %>
</p>

<p class="center">
	<strong>Expensas:</strong>
	<%= @propiedad.expensas %> Pesos
</p>

<p>
	<%= image_tag @propiedad.foto if @propiedad.foto? %>
</p>
<br>
<%= render 'formFotos' %>

<%= link_to 'Editar publicación', edit_propiedad_path(@propiedad), class: "btn" %>
<%= link_to 'Volver', propiedads_path, class: "btn" %>
