<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Direccion:</strong>
	<%= @propiedad.direccion %>
</p>

<p>
	<strong>Precio:</strong>
	<%= @propiedad.precio %>
</p>

<p>
	<strong>Superficie:</strong>
	<%= @propiedad.superficie %>
</p>

<p>
	<strong>Ambientes:</strong>
	<%= @propiedad.ambientes %>
</p>

<p>
	<strong>Barrio:</strong>
	<%= @propiedad.barrio.nombre %>
</p>

<p>
	<strong>Tipo:</strong>
	<%= @propiedad.tipo_propiedad.nombre %>
</p>

<p>
	<%= image_tag @propiedad.foto if @propiedad.foto? %>
</p>

<h2>Fotos</h2>
<% @propiedad.fotos.each do |foto| %>
  <p>
    <%= image_tag foto.nombre if foto.nombre? %>
  </p>
<% end %>

<%= form_for([@propiedad, @propiedad.fotos.build]) do |f| %>
  <p>
    <%= f.label "agregar foto" %><br>
    <%= f.file_field :nombre %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_propiedad_path(@propiedad) %> |
<%= link_to 'Back', propiedads_path %>
