<p id="notice">
	<%= notice %>
</p>

<h2>Datos de operaci칩n</h2>
<hr>
<p class="center">
	<strong>Operacion:</strong>
	<%= @propiedad.operacion.tipo %>
</p>

<p class="center">
	<strong>Tipo:</strong>
	<%= @propiedad.tipo_propiedad.nombre %>
</p>

<br>
<h2>Ubicaci칩n</h2>
<hr>
<p class="center">
	<strong>Barrio:</strong>
	<%= @propiedad.barrio.nombre %>
</p>
<p class="center">
	<strong>Calle:</strong>
	<%= @propiedad.direccion %>
</p>
<p class="center">
	<strong>Numero:</strong>
	<%= @propiedad.numero %>
	<strong>Piso:</strong>
	<%= @propiedad.piso %>
	<strong>Departamento:</strong>
	<%= @propiedad.departamento %>
</p>

<br>
<h2>Datos del inmueble</h2>
<hr>
<p class="center">
	<strong>Descripcion:</strong>
	<%= @propiedad.descripcion %>
</p>

<p class="center">
	<strong>Antiguedad:</strong>
	<%= @propiedad.antiguedad %> a침os
</p>

<p class="center">
	<strong>Superficie:</strong>
	<%= @propiedad.superficie %> m2
</p>

<p class="center">
	<strong>Ambientes:</strong>
	<%= @propiedad.ambientes %>
</p>

<p class="center">
	<strong>Dormitorios:</strong>
	<%= @propiedad.dormitorios %>
</p>

<p class="center">
	<strong>Moneda:</strong>
	<%= @propiedad.moneda.nombre %>
</p>

<p class="center">
	<strong>Precio:</strong>
	<%= @propiedad.precio %>
</p>

<p class="center">
	<strong>Expensas:</strong>
	<%= @propiedad.expensas %>
</p>

<p>
	<%= image_tag @propiedad.foto if @propiedad.foto? %>
</p>
<br>
<%= render 'formFotos' %>

<%= link_to 'Editar publicaci칩n', edit_propiedad_path(@propiedad), class: "btn" %>
<%= link_to 'Volver', propiedads_path, class: "btn" %>
