<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Direccion:</strong>
	<%= @propiedad.direccion %>
</p>

<p>
	<strong>Precio:</strong>
	<%= @propiedad.precio %>
</p>

<p>
	<strong>Moneda:</strong>
	<%= @propiedad.moneda.nombre %>
</p>

<p>
	<strong>Superficie:</strong>
	<%= @propiedad.superficie %>
</p>

<p>
	<strong>Ambientes:</strong>
	<%= @propiedad.ambientes %>
</p>

<p>
	<strong>Barrio:</strong>
	<%= @propiedad.barrio.nombre %>
</p>

<p>
	<strong>Tipo:</strong>
	<%= @propiedad.tipo_propiedad.nombre %>
</p>

<p>
	<%= image_tag @propiedad.foto if @propiedad.foto? %>
</p>

<%= render 'formFotos' %>

<%= link_to 'Edit', edit_propiedad_path(@propiedad) %> |
<%= link_to 'Back', propiedads_path %>
