
<script>
	//bug118
	$(document).ready(function() {
		if(<%= @propiedad.tipo_publicacion_id %>==1){
			$("#video").hide();
		}
	}); 
</script>

<h1>Datos de la publicaci&oacute;n</h1>

<h2>Datos de operación</h2>
<hr>



<table align="center">
	<tbody>
		<tr>
			<td align="right" style="width: 200px"><strong>Tipo de publicaci&oacute;n</strong>
			<td width="10px"></td>
			<td align="left" style="width: 200px"><%= @propiedad.tipo_publicacion.nombre %></td>
		</tr>
		<tr>
			<td align="right" ><strong>Fecha publicaci&oacute;n</strong>
			<td width="10px"></td>
			<td align="left"><%= @propiedad.fecha_publicacion.strftime("%d/%m/%y") %></td>
		</tr>
		
		<tr>
			<td align="right" ><strong>Fecha finalizaci&oacute;n</strong></td>
			<td width="10px"></td>
			<td align="left"><% if @propiedad.fecha_finalizacion? %>
			  <%= @propiedad.fecha_finalizacion.strftime("%d/%m/%y") %>
			<% else %>
			  - 
			<% end %></td>
		</tr>
		<tr>
			<td align="right" ><strong>Operaci&oacute;n	</strong></td>
			<td width="10px"></td>
			<td align="left"><%= @propiedad.operacion.tipo %></td>			
		</tr>
		<tr>
			<td align="right"><strong>Tipo	</strong></td>
			<td width="10px"></td>
			<td align="left"><%= @propiedad.tipo_propiedad.nombre %></td>
			
		</tr>
	</tbody>
	
</table>

<br>
<h2>Ubicación</h2>
<hr>
<table align="center">
	<tbody>
		<tr>
			<td align="right" style="width: 200px"><strong>Barrio</strong></td>
			<td width="10px"></td>
			<td style="width: 200px"><%= @propiedad.barrio.nombre %></td>
		</tr>
		<tr>
			<td align="right"><strong>Calle</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.direccion %></td>	
			
		</tr>
		<tr>
			<td align="right"><strong>N&uacute;mero</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.numero %></td>
		</tr>
		<tr>
			<td align="right"><strong>Piso</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.piso %></td>
		</tr>
		<tr>
			<td align="right"><strong>Departamento</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.departamento %></td>
		</tr>

	</tbody>
</table>
<p class="center">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@propiedad.latitude}%2C#{@propiedad.longitude}",
 :id => "mapa" %>
</p>
<br>
<h2>Datos del inmueble</h2>
<hr>
<table align="center">
	<tbody>
		<tr>
			<td align="right" style="width: 200px"><strong>Descripci&oacute;n</strong></td>
			<td width="10px"></td>
			<td style="width: 200px"><%= @propiedad.descripcion %></td>
		</tr>
		<tr>
			<td align="right"><strong>Antig&uuml;edad</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.antiguedad %> años</td>
		</tr>

		<tr>
			<td align="right"><strong>Superficie</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.superficie %> m2</td>
		</tr>

		<tr>
			<td align="right"><strong>Superficie no cubierta</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.superficie_nc %> m2</td>
		</tr>
		
		<tr>
			<td align="right"><strong>Ambientes</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.ambientes %></td>
		</tr>
		
		<tr>
			<td align="right"><strong>Dormitorios</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.dormitorios %></td>
		</tr>
		
		<tr>
			<td align="right" valign="top" >
				<strong>Amenities</strong>
			</td>
			<td width="10px"></td>
			<td width="200px">
				<% @propiedad.amenities.each do |a| %>
				<%= a.nombre %>
				<% if a != @propiedad.amenities.last %>
				<%= ", " %>
				<% end %>
				<% end %>
			</td>
		</tr>
		
		<tr>
			<td align="right"><strong>Moneda</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.moneda.nombre %></td>
		</tr>
		
		<tr>
			<td align="right"><strong>Precio</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.precio %></td>
		</tr>
		
		<tr>
			<td align="right"><strong>Expensas</strong></td>
			<td width="10px"></td>
			<td><%= @propiedad.expensas %></td>
		</tr>
	</tbody>
</table>

<div align="center">
	<br>
	<%= render 'formFotos' %>
	<!-- bug 118-->
	<div id="video">
		<%= render 'formVideos' %>
	</div>
	<%= link_to 'Volver', propiedads_path, class: "btn" %>
</div>
